*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: "Sofia", sans-serif;
}
#head{
    background: url('4.jpg')no-repeat center center/cover;
    height: 100vh;
}
.hover{
    background-color: rgba(0, 0, 0, .2) ;
}
#bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Sofia", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-bottom: 1px solid white; 
}
.bar2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
}

.font1{

    margin-left: 5px;
    transition: 0.5s;
    padding: 10px;  
}
.font{
    color: white;
    margin-left: 5px;
    transition: 0.5s;
    padding: 10px;  
    text-decoration: none;
}

.font1:hover {
    font-size: 30px;
    
}


.title{
    font-family: "Sofia", sans-serif;
    color: white;
    font-size: 80px;
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.para{
    font-family: "Sofia", sans-serif;
    color: white;
    
    font-size: 50px;
    display:flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

#mid1{
    display: flex;
    flex-direction: row;
    height: 95vh;
    background-image: linear-gradient(rgb(52, 233, 209), white);
    flex: 50%;
}
.cla1{
    background: url('8.jpg')no-repeat center center/cover;
    height: 550px;
    width: 1500px;
    margin: 90px;
    margin-top: 50px;
}
.cla2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Sofia", sans-serif;
    font-size: 25px;
}
.cla3{
    background: url('10.jpg')no-repeat center center/cover;
    height: 350px;
}

#mid2{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: auto;
}
.title2{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.cla4{
    background: url('11.jpg')no-repeat center center/cover;
    height: 342px;
    width: 50%;
}
.cla5{
    text-align: center;
    padding: 23px;
    background-color: white;
    padding-right: 10px;
    height: 342px;
    font-size: 20px;  
}
.box .cla4{
    float: left;
}
.box{
    margin: auto;
    width: 700px;
}
.vedio{
 width: 100%;
 padding: 10px;

}

#mid3{
    height: 550px;
    display: flex;
    flex-direction: row;
}
.mid31{
    background:  url('12.jpg')no-repeat center center/cover;
    height: 342px;
    width: 33%;
    margin: 10px;
 
}
.mid32{
    background:  url('13.jpg')no-repeat center center/cover;
    height: 342px;
    width: 33%;
    margin: 10px;

}.mid33{
    background: url('14.jpg')no-repeat center center/cover;
    height: 342px;
    width: 33%;
    margin: 10px;

}
.text{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 140px;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 35px;
}
.hidder{
    visibility: hidden;
}
#mid3 :hover .text {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
    font-size: 40px;
}
.ssmargin{
   margin: 5%;
}

.himgtest1{
    background:  url('47.jpg')no-repeat center center/cover;
    height: 350px;
    width: 500px;
}
.himgtest2{
    background:  url('51.jpg')no-repeat center center/cover;
    height: 350px;
    width: 500px;
}

.hcon{
    position: relative;
    margin: auto;
}

.htext1{
    margin: 13%;
}
.htt{
    font-size: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 280px;
    color: white;
    transition: transform .5s;
}
.hboxx{
    transition: transform 1s;
}

.hdetails{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    color: white;
    transform: scale(0);
    transition: transform 1s;
    
}
.hcontent{
    position: absolute;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin: 10%;
}
.hboxx:hover .hdetails{
    transform: scale(1);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.hboxx:hover{
    transform: scale(.8);
}
.hboxx:hover .htt{
    display: none;
}



/* room */
#Rhead{
    background:  url('18.jpg')no-repeat center center/cover;
    height: 65vh;
}
#rooms{
    display: flex;
    flex-direction: column;
}

.roomcard{
    display: flex;
    flex-direction: row;
    border: none;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 170px;
}
.eachcard{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    
}
.eachcard:hover{
    z-index: 1;
    transform: scale(1.10);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}


/*food*/
#Fhead{
    background:  url('24.jpg')no-repeat center center/cover;
    height: 65vh;
}
.ft{
    font-family: "Sofia", sans-serif;
    font-size: 80px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.ft2{
    font-family: "Sofia", sans-serif;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.imgtest1{
    background:  url('25.jpg')no-repeat center center/cover;
    height: 350px;
    width: 50%;
    opacity: 0.9;
}
.imgtest2{
    background:  url('26.jpg')no-repeat center center/cover;
    height: 350px;
    width: 50%;
    opacity: 0.9;
}
.imgtest3{
    background:  url('27.jpg')no-repeat center center/cover;
    height: 350px;
    width: 50%;
    opacity: 0.9;
}
.con{
    position: relative;
}

.text1{
    margin: 13%;
}
.tt{
    font-size: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 280px;
    color: white;
    transition: transform .5s;
}

.details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    color: white;
    color: rgb(24, 34, 22);
    transform: scale(0);
    transition: transform 1s;
}
.content{
    position: absolute;
    text-align: center;
    padding: 15px;
    color: #fff;
}
.boxx:hover .details{
    transform: scale(1);
}
.boxx:hover .tt{
    display: none;
    transform: scale(0);
}



.img1{
    background:  url('28.jpg')no-repeat center center/cover;
    height: 700px;
    width: 60%;
}
.ftn{
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
}
#Nhead{
    background:  url('9.jpg')no-repeat center center/cover;
    height: 65vh;
}


#log{
    background:  url('54.jpg')no-repeat center center/cover;
    height: 100vh;
}
.lform{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: rgba(0, 0, 0, .3);
    padding: 5px;
    overflow: hidden;
    font-size: 16px;
}
.buttonl{
    width:220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius:  30px;    
}
.toggle-btnl{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}
#btnl{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #10e3ff,#06ff83);
    border-radius: 30px;
    transition: .5s;
    
}
.icon{
    margin: 30px auto;
    text-align: center;
}
.icon i{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d ;
}
.color{
    color: white;
}



.ig{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
::placeholder{
    color: white;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#10e3ff,#06ff83);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.span{
    color: #777;
    font-size: 12px ;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}












#contact{
    width: 100%;
    background-image: /*linear-gradient(rgba(185, 223, 190, 0.2),rgb(79, 202, 206)),*/url(55.jpg);
    height: 100vh;
    background-position: center;
    background-color: cover;
   
}
.fromc{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
.input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
    font-size: 15px;
}
.label{
    height: 100%;
    position: absolute;
    left: 3;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: test;
    transition: 0.2s;
}
.formb{
    padding: 10px 0;
    color: #fff;
    font-size: 20px;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor:pointer;
}
.formb:hover{
    background-color: #fff;
    color: rgb(0, 140, 255);
}
.input:focus~.label,
.input:valid~.label{
    top: -35px;
    font-size: 14px;
}







#foot{
    height: 380px;
    background-image: linear-gradient(white, rgb(52, 233, 209));
    display: flex;
    flex-direction: column;
}
#footr{
    height: 380px;
    background-image: linear-gradient(white, rgb(90, 38, 100));
    display: flex;
    flex-direction: column;
}
#footf{
    height: 380px;
    background-image: linear-gradient(white, rgb(62, 175, 209));
    display: flex;
    flex-direction: column;
}

.fontf{
    color: rgb(52, 233, 209);
}
.foot1{
    text-align: center;
}
.foot2{
    padding-top: 5px;
    text-align: center;
    color: black;
    text-decoration: none;
    list-style-type: none;
}
.foot2:hover {
    text-decoration: none;
    color: black;
}
.fontf:hover {
    text-decoration: none;
    color: black;
}

.foot3{
    padding-top: 5px;
    text-align: center;
    color: white;
}
.foot4{
    padding-top: 5px;
    text-align: center;
    color: white;
}
.footf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foots{
    display: flex;
    flex-direction: column;
}

