#mid1{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(52, 233, 209), white);
    flex: 50%;
    height: 100%;
}
.cla1{
    background: url('8.jpg')no-repeat center center/cover;
    height: 500px;
    width: 100%;
    margin: 0px;
}
.title{
    font-size: 50px;
    text-align: center;
}
.para{
    margin-top: 60px;
    font-size: 50px;
    text-align: center;
}
.box{
    margin: auto;
    width: 100%;  
}
.text{
    margin-top: 107x;
}
.cla4{
    width: 100%;
}
.cla5{
    height: 200px;
}


#mid3{
    flex-direction: column;
}
.mid31,.mid32,.mid33{
    width: 95%;
    margin: 10px;
}
.text{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 35px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 35px;
}
.roomcard{
    margin-left: 0;
    margin-bottom: 10px;
}
.ft{
    text-align: center;
}
.boxx{
    width: 100%;
}
.img1{
    width: 100%;
}

